/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 9, 2017, 12:53:21 PM
    Author     : 20120451
*/

.left-bar{
    background-color: #f7f7f7;
    position: relative;
    top: -21px;
    left: 0px;
    border-right: 1px solid;
    border-right-color: black;
    width: 300px;
    padding: 10px;
    
}
