/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 9, 2017, 12:53:21 PM
    Author     : 20120451
*/

* {
    box-sizing: border-box;
}

.top_menue{ 
    position: relative;
    top: -21px;
    left: 0px;
    border-bottom: 1px solid;
    border-right-color: black;
    width: available;
    height: available;
    background-color: #E0E7FF;
    
}

